{% extends "header.html"%}
{% block main %}
    <div class="ui secondary pointing menu">
    
  <a class="item">
    Organise Me
  </a>

  <div class="right menu">

    <a class="ui item" href="/logout">
      Logout
    </a>
  </div>
</div>
	<div class="ui container" align="center">
		    <table style="width:100%" class="ui celled table">
		    	<tr><td>Student</td><td>Coach</td></tr>
		    	{% for pair in pairs %}
		    	<tr>
		    		<td>{{pair.stuFName}} {{pair.stuLName}}</td>
		    		<td>{{pair.coachFName}} {{pair.coachLName}}</td>

		    	</tr>

		    	{% endfor %}

		    </table>

	

	</div>
	
	
{% endblock %}